<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.wannasing">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:networkSecurityConfig="@xml/network_security_config"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">


    <activity
      android:name="com.android.wannasing.feature.party.createparty.viewcontroller.CreatePartyActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.party.showpartyinfo.viewcontroller.ShowPartyInfoActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.home.viewcontroller.HomeActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.account.login.viewcontroller.LoginActivity"
      android:exported="true"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.android.wannasing.feature.account.register.viewcontroller.RegisterActivity"
      android:exported="false"
      android:screenOrientation="portrait" />

    <activity
      android:name="com.android.wannasing.feature.audio.recordaudio.viewcontroller.RecordAudioActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.audio.uploadaudio.viewcontroller.SetUploadOptionActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.profile.editprofile.viewcontroller.EditProfileActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.profile.editprofile.viewcontroller.GetNewProfileActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.profile.showothersprofile.viewcontroller.ShowOthersProfileActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.android.wannasing.feature.chat.showchat.viewcontroller.ShowChatActivity"
      android:exported="true"
      android:screenOrientation="portrait" />

    <meta-data
      android:name="com.kakao.sdk.AppKey"
      android:value="f8371361907c4fdffcff0da4d5dec322" />
  </application>
</manifest>